{% macro programList(programs) %}
	<ul class="programs-list">
		{% for program in programs %}
			<li>
				{{ _self.programLink(program) }}
			</li>
		{% endfor %}
	</ul>
{% endmacro %}

{% macro programLink(program) %}
	<a class="program-link" href="{{ path("program_show", {id: program.id}) }}">
		<div class="poster" style="background-image: url({{ program.poster }});"></div>
		<div class="content">
			<h2 class="title">{{ program.title }}</h2>
			<p class="synopsis">{{ program.synopsis }}</p>
		</div>
	</a>
{% endmacro %}
