{% extends "base.html.twig" %}

{% block title %}
	{{ episode.title }}
{% endblock %}

{% block body %}
	<main class="container">
		<h1>{{ episode.title }}</h1>
		<p>Saison
			{{ season.number }}
			Episode
			{{ episode.number }}
			de
			{{ program.title }}</p>
		<p>{{ episode.synopsis }}</p>
	</main>
{% endblock %}
