{% extends "base.html.twig" %}

{% block title %}
    Saison {{ season.number }} de {{ season.program.title }}
{% endblock %}

{% block body %}
    <main class="container">
    <h1>Saison {{ season.number }} de {{ season.program.title }}</h1>
    <p>{{ season.year }}</p>
    <p>{{ season.description }}</p>
    <ul>
        {% for episode in season.episodes %}
            <li>{{ episode.number }} | {{ episode.title }}</li>
        {% endfor %}
    </ul>
    </main>
{% endblock %}